node_modules/
sim-card-emulator-viwe/node_modules
sim-card-emulator-viwe/.pnp
sim-card-emulator-viwe/.pnp.js
sim-card-emulator-viwe/.yarn/install-state.gz
sim-card-emulator-viwe/coverage
sim-card-emulator-viwe/.next/
sim-card-emulator-viwe/out/
sim-card-emulator-viwe/build
sim-card-emulator-viwe/.DS_Store
sim-card-emulator-viwe/*.pem
sim-card-emulator-viwe/npm-debug.log*
sim-card-emulator-viwe/yarn-debug.log*
sim-card-emulator-viwe/yarn-error.log*
sim-card-emulator-viwe/.env*.local
sim-card-emulator-viwe/.vercel
sim-card-emulator-viwe/*.tsbuildinfo
sim-card-emulator-viwe/next-env.d.ts
