node_modules/
sim-card-emulator-ui/node_modules
sim-card-emulator-ui/.pnp
sim-card-emulator-ui/.pnp.js
sim-card-emulator-ui/.yarn/install-state.gz
sim-card-emulator-ui/coverage
sim-card-emulator-ui/.next/
sim-card-emulator-ui/out/
sim-card-emulator-ui/build
sim-card-emulator-ui/.DS_Store
sim-card-emulator-ui/*.pem
sim-card-emulator-ui/npm-debug.log*
sim-card-emulator-ui/yarn-debug.log*
sim-card-emulator-ui/yarn-error.log*
sim-card-emulator-ui/.env*.local
sim-card-emulator-ui/.vercel
sim-card-emulator-ui/*.tsbuildinfo
sim-card-emulator-ui/next-env.d.ts
